body {
	background-attachment: fixed;
}

#contact {
	margin: auto;
	padding: 30px;
}

header {
	font-style: italic;
	background-image: url('../img/header1.jpeg');
	background-attachment: fixed;
	color: #029bc9;
	text-align: center;
}

#homeHeading {
	text-align: center;
}

#paragraphness {
	color: white;
}

#paragraphness1 {
	color: white;
}

paragraphness2 {
	color: #ccebfb;
}

.section-heading {
	color: white;
	padding: 20px
}

.container1 {
	background-color: #029bc9;
}

.col-lg-8 col-lg-offset-2 text-center {
	font-size: 10px;
	width: 100px;
	height: 100px;
}

#page-top {
	background-size: 100%;
}

#servies {
	background-color: none;
}

.fa fa-linkedin-square {
	width: 50px;
	height: 50px;
}

#homeHeading {
	text-align: center;
}
